<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site_head(~{::title})">
    <title> Mikle's site </title>
</head>

<body>
<h2  th:text="${post.title}">Post Title</h2>
<nav th:replace="layout :: navigation"></nav>





<main id="posts">
    <!--<article>-->

        <div >
            <i>Posted on</i>
            <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            <span th:if="${post.author}" th:remove="tag">
        <i>by</i>
        <span th:text="${post.author.fullName != null ?
                         post.author.fullName : post.author.username}"></span>
        </span>
        </div>
        <p class="content" th:utext="${post.body}">Post content</p>
    <!--</article>-->
</main>

<footer th:replace="layout :: site-footer" />

</body>

</html>